body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(img/bg.jpg);
    background-attachment: fixed;
}

header{
    display: block;
    margin-top:5rem;
    margin-bottom: 5rem;
}
.span1{
    line-height: 1;
    font-weight: 1000px;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba(230, 167, 86, 1);
    font-family: "Raleway", Arial, sans-serif;
    display: block;
    
}
.span2{
    text-transform:uppercase;
    color: #f6e1c5;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 5rem;
    font-weight: 100;
}
.hh1{
    text-align: center;
}
.menu-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: rgba(47, 23, 15, 0.9);
}
.li1{
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Raleway", Arial, sans-serif ;
    font-weight: 800;
}
.bodyy{
    width: 100%;
    height: 500px;
    margin-top: 70px;
    position: relative;
}
.xaaa{
    width: 37%;
    height: 300px;
    position: absolute; 
    left: 120px;   
    top: 3rem;
    background-color: #f6e1c5;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    padding: 0px 22px;
}

.p1{
    height: 0;
    font-family: "Raleway", Arial, sans-serif ;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 45px;
}
.p2{
    margin-bottom: 10px;
    margin-top: 0%;
    font-size: 55px;
    font-weight: 100;
    font-family: "Raleway", Arial, sans-serif ;
}
.p3{
    text-align: center;
    font-family: "Raleway", Arial, sans-serif ;
    font-size: 13px;
}
.today{
    width: 120px;
    height: 50px;
    font-size: 15px;
    background-color:#e6a756;
    position: absolute;
    left: 290px;   
    top: 20rem;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    padding: 10px;
}
.sekil{
    margin-left: 32%;
    position: relative;
}
.d1{
    background-color: rgba(230, 167, 86, 0.9);
    width: 100%;
    height: 295px;
    margin: 80px 0px;
    padding: 80px 0px;
}
.d2{
    
    background-color: rgba(255, 255, 255, 0);
    width: 63%;
    height: 290px;
    margin: 0px 270px;
    border-radius: 8px;
    border: rgba(233, 179, 108, 0.9) 4px solid;
}
.d3{
    background-color: #f6e1c5;
    width: 63%px;
    height: 222px;
    border: rgba(207, 147, 69, 0.9) 4px solid;
    border-radius: 8px;
    padding: 30px;
}

#s1{
    font-family: raleway;
    font-size: 18px;
    font-weight: 800;
    color: #212529;
    text-align: center;
    display: block;
}
#s2{
    font-family: raleway;
    font-size: 50px;
    font-weight: 100;
    color: #212529;
    text-align: center;
    display: block;
}

.p {
    font-family: Lora;
    font-size: 16px;
    text-align: center;
    line-height: 170%;
}


.foot{
    background-color: rgba(47, 23, 15, 0.9);
    width: 100%;
    height: 26px;
    padding: 42px 0px;
}

.pp{
    font-family: Lora;
    font-size: 16px;
    text-align: center;
    line-height: 160%;
    color: #f6e1c5;
    margin: 0px;
}









